<h1>Log in to your iTravel account!</h1>

<%= form_for(User.new, url: '/login') do |f|%>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password%>

    <%= f.submit "Log In" %>

<% end %>