Welcome, <%= @user.name %>, to iTravel!

<p>
<%= link_to "Your Reviews", user_reviews_path(@user)%><br>
<%= link_to "All Reviews", reviews_path %><br>
<%= link_to "Create New Review", new_user_review_path(@user) %>


<%= link_to "Log Out", delete_user_session_path, method: :delete %>
</p>