<h1> Cities </h1>

    <%= form_tag  cities_path(@city), method: "get" do %>
        <%= text_field_tag :query %>
        <%= submit_tag :search, class: 'btn' %>
    <% end %>
<ol>
<%= "TODO DISPLAY CITIES ORGANIZED UNDER COUNTRIES"%><br><br>
<% @cities.each do |city| %>
    <h6><%= link_to city.city_state_country, city_path(city)%></h6> Number of Review(s): <%= city.reviews.count %>  <br>
    Average City Rating: <%= city.average_city_rating %><br><br>
    
<% end %>
</ol>