<h1> Add a new city: </h1>

<%= form_for(@city) do |f| %>
    <p> Select Country Location of City: </p>

    <div>
    <%= f.label :country_id %>
    <%= f.collection_select(:country_id, Country.order('name ASC'), :id, :name, :include_blank => true)%>
    </div><br>
    
    <p> Don't see your Country? <%= link_to "Create Country Here", new_country_path %> </p>

    <div>
    
    <%# could not get this to work with the collection select %>
    <%#= f.fields_for :country do |c|%>
        <%#= c.label :name, 'Country Name' %>
        <%#= c.text_field :name %>
    <%# end %>
    </div> 

    <div>
    <%= f.label :name, 'City Name: ' %>
    <%= f.text_field :name %>
    </div>

    <%= f.submit %>
<% end %>