<h1> Create a New City </h1>

<%= form_for(@city) do |f| %>
    <div>
    <%= f.label :name, "City Name: " %>
    <%= f.text_field :name %>
    </div>

    <p> Select an existing country: </p>
    
    <div>
    <%= f.fields_for :cities do |c|%>
        <%= c.collection_select(:country_id, Country.order('name ASC'), :id, :name, :include_blank => true)%>
    <% end %>
    </div>

    <p> OR create a new country: </p>

    <%= f.submit %>
<% end %>