<h1> Add a new city: </h1>

<%= form_for(@city) do |f| %>
    <div>
    <%= f.label :name, "City Name: " %>
    <%= f.text_field :name %>
    </div>

    <p> Add country to city: </p>

    <div>
    <%= f.collection_select(:country_id, Country.order('name ASC'), :id, :name, :include_blank => true)%>
    </div><br>

    <%= f.submit %>
<% end %>