<h1><%= @city.city_state_country %></h1>
<h3><%= @city.average_city_rating %></h3><br>

<h5> Most Recent City Reviews </h5>
<% @city.reviews.each do |review| %>
    <%= review.title %><br>
    <%= review.created_at %><br>
    <% if review.rating != nil %>
        Rating: <%= review.rating %><br>
    <% end %>
    <%= review.content %><br>
    <br>
<% end %>