<h1><%= @city.city_state_country %></h1>
<h4><%= " #{@city.average_city_rating} average rating from #{@city.city_review_count} reviews "%></h4>
<br>

<p>
<%= link_to "Create Review for #{@city.city_state_country}", new_city_review_path(@city) %>
</p>

<p><%= link_to "All Reviews for #{@city.city_state_country}", city_reviews_path(@city) %></p><br>

<h5><%= "5 Star Reviews for #{@city.city_state_country}" %></h5>



<% @city.reviews.limit(5).each do |review| %>
<% if review.rating == 5 %>
    <%= review.title %><br> <%# TO DO ADD LINK TO REVIEW %>
    <%= review.created_at %><br>
    <% if review.rating != nil %>
        Rating: <%= review.rating %><br>
    <% end %>
    <%= review.content %><br>
    <br>
<% end %>
<% end %>


