<h1><%= @city.city_state_country %></h1>
<h4><%= " #{@city.average_city_rating} average rating from #{@city.city_review_count} reviews "%></h4>
<br>

<p>
<%= link_to "Create Review for #{@city.city_state_country}", new_city_review_path(@city) %>
</p>

<% @city.reviews.order('created_at DESC').each do |review| %>
    <h4><%= link_to review.title,  review_path(@city, review) %></h4>
    <%= review.created_at %><br>
    <% if review.rating != nil %>
        Rating: <%= review.rating %><br><br>
    <% end %>

<% end %><br>
