<%= form_for [user, review] do |f|%>
    <div class="input-field">

            <%= f.label :city, "Select a city:" %>
            <%= f.collection_select :city_id, City.order('name ASC'), :id, :city_state_country, :include_blank => true %>

    </div>

    <p> Don't See Your City? Create new city: </p>
    <div class= "input-field">
    
        <%= link_to "Create City", new_city_path %>

    </div>

    <div class="input-field">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <div class="input-field">
        <%= f.label :content %>
        <%= f.text_area :content %>
    </div>

    <div class="input-field">
        <%= f.label :rating %>
        <%= f.select :rating, (1..5), :include_blank => true %>
    </div>

    <%= f.submit button_name, class: "btn" %>
<% end %>