<% if @city %>
        <h1> <%= @city.name %>, <%= @city.country.name %></h1>
        <%= @city.average_city_rating %><br>
<% else %>
        <h1> Reviews for All Cities </h1><br>
<% end %><br>

<% @reviews.each do |review| %>
    <h4><%= link_to review.title %></h4>
    <%= review.created_at %><br>

<% end %>