<h1> <%= @user.name %>, view, edit, or delete you recorded destination reviews: </h1>

<% @reviews.each do |review| %>
<h3><%= link_to review.title, user_review_path(@user, review) %></h3>
<%= link_to review.city.name, user_review_path(@user, review) %>
    <% if @user == current_user %>

        <%= link_to "Edit Review", edit_user_review_url(@user, review), :method => 'get' %>
        <%= "Delete Review" %>
        
    <% end %>
<% end %>


<% if @user == current_user %>
    <%= link_to "Add New Review", new_user_review_url(@user) %>
<% end %>