<h1> New Review </h1>

<p>

<%= "Select Country, Select State if Country United States" %>
<%= "Rating" %><br>
<%= "Title" %>
<%= "Content" %><br>

<%= "TODO Lodging, Restaurant, Attraction" %>

</p>