<h1> New Review </h1>

<p>
<%= "Select Country, Select State if Country United States" %>
<%= form_for :review, url: user_reviews_path do |f|%>
    <div>
    <%= f.label :city, "Select a city:" %>
    <%= f.collection_select :city_id, City.order('name ASC'), :id, :city, :include_blank => true %>
    </div>
    
    <p> OR create a new city below: </p>

     <div>
        <%= f.fields_for :city do |city_attributes| %>
            <%= f.label :city, "City Name"%>
            <%= city_attributes.text_field :city, placeholder: "City Name" %><br><br>
            <%= f.label :country, "Select Country"%>
            <%= city_attributes.collection_select :country_id, Country.order('name ASC'), :id, :name, :include_blank => true %>
            <%= f.label :country, "OR add new country:" %>
            <%= city_attributes.text_field :country %>
            
            <% #if :country == "United States" TODO have states only show up if United States%>
                <%= f.label :state, "Select State"%>
                <%= city_attributes.collection_select :state_id, State.order('name ASC'), :id, :name, :include_blank => true %>
                <%= f.label :state, "OR add a new state:"%>
                <%= city_attributes.text_field :state %>
            <% #end %>
        <% end %>
    </div>

    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label :content %>
        <%= f.text_area :content %>
    </div>

    <%= f.submit %>
<% end %>


<%= "Rating" %><br>
<%= "Title" %>
<%= "Content" %><br>

<%= "TODO Lodging, Restaurant, Attraction" %>

</p>