<h1><%= @review.title %></h1> 
<h3><% if @user != current_user %> 
        <%= @review.user.name %>
    <% end %>
</h3>
<%# REFACTORED FROM TWO LINES %> <%# @review.city.name%> <%# @review.city.country.name %>
<h4> <%= @review.city.city_state_country %>  </h4>

<p>
Rating: <%= @review.rating %><br>
<br>
<%= @review.content %>
</p>

<% if @user == current_user %>

        <%= link_to "Edit Review", edit_user_review_url %>
        <%= link_to "Delete Review", user_review_path, :method => 'delete' %>

<% end %>