<nav>
    <div>
        <%= link_to "iTravel", user_path(current_user) %> - <%= current_user.name%>
        <ul>
            <% if is_logged_in? %>
                <%= link_to "Create Travel Review", new_user_review_path(current_user) %>
                <%= link_to "All Reviews", user_reviews_path(current_user) %>
                <%= link_to "View Cities", cities_path %> 
                <%= link_to "View Countries", countries_path %> 
                <%= link_to "Logout", delete_user_session_path, method: 'delete' %>
            <% else %>
                <%= link_to "Log In", login_path %>
                <%= link_to "Sign Up", signup_path %>
            <% end %>
        </ul>
    </div>
</nav>