<nav>
    <div>
        <%= link_to "iTravel" %>
        <ul class="right">
            <%= link_to "Create Travel Review", new_user_review_path(current_user) %>
            <%= link_to "Your Travels", user_reviews_path(current_user) %>
            <%= "View Cities" %> 
            <%= "View Countries" %> 
            <%= link_to "Logout", logout_path%>



        </ul>
    </div>
</nav>