<nav>
    <div>
        <%= link_to "iTravel" %>
        <ul class="right">
            <% if is_logged_in? %>
                <%= link_to "Create Travel Review", new_user_review_path(current_user) %>
                <%= link_to "Your Travels", user_reviews_path(current_user) %>
                <%= link_to "View Cities", cities_path %> 
                <%= link_to "View Countries", countries_path %> 
                <%= link_to "Logout", logout_path %>
            <% end %>


        </ul>
    </div>
</nav>